body {
  font-family: 'Roboto', sans-serif;
}

svg {
  shapre-rendering: crispEdges;
}

.centered {
  text-align: center;
}

:root {
  --oHist-color: #fb9a99;
  --dHist-color: #33a02c;
  --graph-color: #b2df8a;
  --table-color: #1f78b4;
  --offices-color: #a6cee3;
  --stroke-color: #000000;
  --stroke-opacity: 0.1;
}

.overviewHist, .overviewHist * {
  fill: var(--oHist-color);
  background-color: var(--oHist-color);
  stroke: var(--stroke-color);
  stroke-opacity: var(--stroke-opacity);
}

.detailHist, .detailHist * {
  fill: var(--dHist-color);
  background-color: var(--dHist-color);
  stroke: var(--stroke-color);
  stroke-opacity: var(--stroke-opacity);
}

.graph, .graph * {
  fill: var(--graph-color);
  background-color: var(--graph-color);
  stroke: var(--stroke-color);
  stroke-opacity: var(--stroke-opacity);
}

.table, .table * {
  fill: var(--table-color);
  background-color: var(--table-color);
  stroke: var(--stroke-color);
  stroke-opacity: var(--stroke-opacity);
}

.offices, .offices * {
  fill: var(--offices-color);
  background-color: var(--offices-color);
  stroke: var(--stroke-color);
  stroke-opacity: var(--stroke-opacity);
}

.ribbons {
  fill-opacity: 0.67;
}

.key {
  display: inline-block;
  margin-left: 8px;
  margin-right: 1px;
  width: 1em;
  height: 1em;
}

.mouse circle {
  fill: yellow;
  fill-opacity: 0.05;
}

.eye circle {
  fill: red;
  fill-opacity: 0.05;
}

.tooltip {
	line-height: 1.1;
	font-size: 15px;
	padding: 6px;
	background: rgba(0,0,0,0.8);
	color: #fff;
	border-radius: 4px;
	pointer-events: none;
}

.tooltip .title {
	color: #ffa500;
	font-size: 1.1em;
	line-height: 1.4;
}

.tooltip .title:after {
	color: #999;
	content: "\00A0\2192\00A0";
}
/* Creates a small triangle extender for the tooltip */
.tooltip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 14px;
	width: 100%;
	line-height: 1;
	color: rgba(0,0,0,0.8);
	position: absolute;
	pointer-events: none;
}
/* Northward tooltips */
.tooltip.n:after {
	content: "\25BC";
	margin: -3px 0 0 0;
	top: 100%;
	left: 0;
	text-align: center;
}
/* Eastward tooltips */
.tooltip.e:after {
	content: "\25C0";
	margin: -4px 0 0 0;
	top: 50%;
	left: -8px;
}
/* Southward tooltips */
.tooltip.s:after {
	content: "\25B2";
	margin: 0 0 1px 0;
	top: -12px;
	left: 0;
	text-align: center;
}
/* Westward tooltips */
.tooltip.w:after {
	content: "\25B6";
	margin: -4px 0 0 -1px;
	top: 50%;
	left: 100%;
}
/* Northwest tooltips */
.tooltip.nw:after {
	content: "\25BC";
	margin: -4px 0 0 0;
	top: 100%;
	left: 0;
	text-align: right;
}
/* Northeast tooltips */
.tooltip.ne:after {
	content: "\25BC";
	margin: -4px 0 0 0;
	top: 100%;
	left: 0;
	text-align: left;
}
