body {
  font-family: 'Roboto', sans-serif;
}

#user-video {
  width: 1280px;
  height: 720px;
  position: absolute;
  top: 0;
  left: 0;
}

#app-context {
  height: 340px;
  position: relative;
}

#app-img {
  width: auto;
  height: 340px;
  position: absolute;
  top: 0;
  left: 0;
}

#video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
}

#bbox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  fill-opacity: 0.5;
  stroke-opacity: 0;
}

#aoi, #datacoverage, #as {
  stroke-opacity: 0.1;
  stroke-color: #000;
}

/*#timeControl .chart rect {
  stroke-width: 0;
}*/

svg {
  shapre-rendering: crispEdges;
}

.centered {
  text-align: center;
}

:root {
  --oHist-color: #fb9a99;
  --dHist-color: #33a02c;
  --graph-color: #b2df8a;
  --table-color: #1f78b4;
  --offices-color: #a6cee3;
  --info-color: #e31a1c;
  --officesCleared-color: #1676B6;
  --officeMouseEnter-color: #ADC6EA;
  --officeClicked-color: #FF7F00;
  --sliderMoved-color: #FFBB72;
  --mouseEnter-color: #24A122;
  --accessTimeClicked-color: #96E086;
  --histogramBrushStart-color: #8D564A;
  --histogramBrushEnd-color: #C59C93;
  --headerClicked-color: #9564BF;
  --rowClicked-color: #C5AFD6;
  --rowMouseOver-color: #D8241F;
  --tableToggleSelected-color: #FF9794;
  --pageChange-color: #E574C3;
  --histogramBarClick-color: #F9B5D2;
  --histogramBarMouseEnter-color: #7F7F7F;
  --graphNodeMouseEnter-color: #C7C7C7;
}

.info, .info * {
  fill: var(--info-color);
  background-color: var(--info-color);
  stroke: var(--info-color);
}

.overviewHist, .overviewHist * {
  fill: var(--oHist-color);
  background-color: var(--oHist-color);
  stroke: var(--oHist-color);
}

.detailHist, .detailHist * {
  fill: var(--dHist-color);
  background-color: var(--dHist-color);
  stroke: var(--dHist-color);
}

.graph, .graph * {
  fill: var(--graph-color);
  background-color: var(--graph-color);
  stroke: var(--graph-color);
}

.table, .table * {
  fill: var(--table-color);
  background-color: var(--table-color);
  stroke: var(--table-color);
}

.offices, .offices * {
  fill: var(--offices-color);
  background-color: var(--offices-color);
  stroke: var(--offices-color);
}

.officesCleared, .officesCleared * {
  fill: var(--officesCleared-color);
  background-color: var(--officesCleared-color);
  stroke: var(--stroke-color);
}

.officeMouseEnter, .officeMouseEnter * {
  fill: var(--officeMouseEnter-color);
  background-color: var(--officeMouseEnter-color);
  stroke: var(--stroke-color);
}

.officeClicked, .officeClicked * {
  fill: var(--officeClicked-color);
  background-color: var(--officeClicked-color);
  stroke: var(--stroke-color);
}

.sliderMoved, .sliderMoved * {
  fill: var(--sliderMoved-color);
  background-color: var(--sliderMoved-color);
  stroke: var(--stroke-color);
}

.mouseEnter, .mouseEnter * {
  fill: var(--mouseEnter-color);
  background-color: var(--mouseEnter-color);
  stroke: var(--stroke-color);
}

.accessTimeClicked, .accessTimeClicked * {
  fill: var(--accessTimeClicked-color);
  background-color: var(--accessTimeClicked-color);
  stroke: var(--stroke-color);
}

.histogramBrushStart, .histogramBrushStart * {
  fill: var(--histogramBrushStart-color);
  background-color: var(--histogramBrushStart-color);
  stroke: var(--stroke-color);
}

.histogramBrushEnd, .histogramBrushEnd * {
  fill: var(--histogramBrushEnd-color);
  background-color: var(--histogramBrushEnd-color);
  stroke: var(--stroke-color);
}

.headerClicked, .headerClicked * {
  fill: var(--headerClicked-color);
  background-color: var(--headerClicked-color);
  stroke: var(--stroke-color);
}

.rowClicked, .rowClicked * {
  fill: var(--rowClicked-color);
  background-color: var(--rowClicked-color);
  stroke: var(--stroke-color);
}

.rowMouseOver, .rowMouseOver * {
  fill: var(--rowMouseOver-color);
  background-color: var(--rowMouseOver-color);
  stroke: var(--stroke-color);
}

.tableToggleSelected, .tableToggleSelected * {
  fill: var(--tableToggleSelected-color);
  background-color: var(--tableToggleSelected-color);
  stroke: var(--stroke-color);
}

.pageChange, .pageChange * {
  fill: var(--pageChange-color);
  background-color: var(--pageChange-color);
  stroke: var(--stroke-color);
}

.histogramBarClick, .histogramBarClick * {
  fill: var(--histogramBarClick-color);
  background-color: var(--histogramBarClick-color);
  stroke: var(--stroke-color);
}

.histogramBarMouseEnter, .histogramBarMouseEnter * {
  fill: var(--histogramBarMouseEnter-color);
  background-color: var(--histogramBarMouseEnter-color);
  stroke: var(--stroke-color);
}

.graphNodeMouseEnter, .graphNodeMouseEnter * {
  fill: var(--graphNodeMouseEnter-color);
  background-color: var(--graphNodeMouseEnter-color);
  stroke: var(--stroke-color);
}

.ribbons {
  fill-opacity: 0.67;
}

.key {
  display: inline-block;
  margin-left: 8px;
  margin-right: 1px;
  width: 1em;
  height: 1em;
}

.tooltip {
	line-height: 1.1;
	font-size: 15px;
	padding: 6px;
	background: rgba(0,0,0,0.8);
	color: #fff;
	border-radius: 4px;
	pointer-events: none;
}

.tooltip .title {
	color: #ffa500;
	font-size: 1.1em;
	line-height: 1.4;
}

.tooltip .title:after {
	color: #999;
	content: "\00A0\2192\00A0";
}
/* Creates a small triangle extender for the tooltip */
.tooltip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 14px;
	width: 100%;
	line-height: 1;
	color: rgba(0,0,0,0.8);
	position: absolute;
	pointer-events: none;
}
/* Northward tooltips */
.tooltip.n:after {
	content: "\25BC";
	margin: -3px 0 0 0;
	top: 100%;
	left: 0;
	text-align: center;
}
/* Eastward tooltips */
.tooltip.e:after {
	content: "\25C0";
	margin: -4px 0 0 0;
	top: 50%;
	left: -8px;
}
/* Southward tooltips */
.tooltip.s:after {
	content: "\25B2";
	margin: 0 0 1px 0;
	top: -12px;
	left: 0;
	text-align: center;
}
/* Westward tooltips */
.tooltip.w:after {
	content: "\25B6";
	margin: -4px 0 0 -1px;
	top: 50%;
	left: 100%;
}
/* Northwest tooltips */
.tooltip.nw:after {
	content: "\25BC";
	margin: -4px 0 0 0;
	top: 100%;
	left: 0;
	text-align: right;
}
/* Northeast tooltips */
.tooltip.ne:after {
	content: "\25BC";
	margin: -4px 0 0 0;
	top: 100%;
	left: 0;
	text-align: left;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
